/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
	color: rgb(152,173,166)
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
	display: block;
}

p {
	color: #555;
	margin: 0 0 20px 0;
	display: block;
}

#logo {
	font-size: 5em;
	font-weight: normal;
	font-family: 'Baskerville', serif;
	color: rgb (152,173,166)
}

.small {
	font-size: 0.8em;
	text-align: right
}

figure img {
	border: 5px rgb(152,173,166) solid;
	position: 0 auto
}


/* Write all remaining styles here */
